<%- include('../partials/header.ejs') %>

<form action="/auth/sign-in" method="POST">
  <label for="email">Email:</label>
  <input type="email" name="email" id="email" required />

  <label for="password">Password:</label>
  <input type="password" name="password" id="password" required />

  <button type="submit">Sign In</button>
</form>


<%- include('../partials/footer.ejs')%>