<%- include('../partials/header') %>

<section>
  <h1>Sign Up</h1>
  <form action="/auth/signup" method="POST">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    
    <button type="submit">Sign Up</button>
  </form>
  <p>Already have an account? <a href="/auth/login">Sign In</a></p>
</section>

<%- include('../partials/footer') %>
