<nav>
    <% if (user) { %>
    <a href="/bmis">View all bmis</a>
    <a href="/auth/sign-out">Sign Out</a>
    <% } else { %>
    <a href="/auth/sign-up">Sign Up</a>
    <a href="/auth/sign-in">Sign In</a>
    <a href="/bmis">Home</a>
    <a href="/bmis/new">Add New BMI</a>
    <% } %>
</nav>