<!-- views/bmis/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All bmis</title>
  </head>
  <body>
    <h1>Here's all the bmis</h1>
  </body>
<nav>
    <% if (user) { %>
    <a href="/listings">View all Listings</a>
    <a href="/auth/sign-out">Sign Out</a>
    <% } else { %>
    <a href="/auth/sign-up">Sign Up</a>
    <a href="/auth/sign-in">Sign In</a>
    <% } %>
  </nav>
</html>
