<!-- views/bmis/index.ejs -->
<%- include('../partials/header.ejs') %> <%- include('../partials/footer.ejs') %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All bmis</title>
  </head>
  <body>
    <h1>Here's all the bmis</h1>
<nav>
    <% if (user) { %>
    <a href="/bmis/new">Add BMI</a>
    <a href="/bmis">View all BMIs</a>
    <a href="/auth/sign-out">Sign Out</a>
    <% } else { %>
    <a href="/auth/sign-up">Sign Up</a>
    <a href="/auth/sign-in">Sign In</a>
    
    <% } %>
  </nav>
</body>
</html>
