<%- include('../partials/header.ejs') %>

<div>
<%= bmi.bmi %>
<p>Your BMI!</p>
<% if (bmi.owner?._id.equals(user._id)) { %>
    <form action="/bmis/<%= bmi._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete this BMI</button>
      </form>
      <% } %>
  </div>


<%- include('../partials/footer.ejs')%>