<%- include('../partials/header.ejs') %>

<div>
<%= bmi.bmi %>
<% if (bmi.owner._id.equals(user._id)) { %>
    <p>Your BMI!</p>

    <form action="/bmis/<%= bmi._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete this BMI</button>
      </form>
  </div>


<%- include('../partials/footer.ejs')%>