<%- include('./partials/header') %>

<section class="home-container">
  <div class="welcome-section">
    <h1>Welcome to <span class="highlight">FitBuddy</span></h1>
    <p>Your personal companion to track and manage your BMI for a healthier lifestyle. Get started now!</p>
  </div>
  
  <body>
    <div class="container">
      <h1>BMI Calculator</h1>
      <form action="/bmis" method="POST">
        <div class="form-group">
          <label for="weight">Weight (lbs):</label>
          <input type="number" id="weight" placeholder="Enter your weight in pounds" required>
        </div>
        <div class="form-group">
          <label for="heightFeet">Height (feet):</label>
          <input type="number" id="heightFeet" placeholder="Enter feet" required>
        </div>
        <div class="form-group">
          <label for="heightInches">Height (inches):</label>
          <input type="number" id="heightInches" placeholder="Enter inches" required>
        </div>
        <button type="submit">Calculate BMI</button>
      </form>
      <div id="bmiResult" class="result" style="display: none;"></div>
    </div>
  
  </body>

<%- include('./partials/footer') %>
