<!-- views/bmis/index.ejs -->
<%- include('../partials/header.ejs') %> 


<ul>
  <% bmis.forEach((bmi) => { %>
  <li>
    A bmi <%= bmi %> owned by <%= bmi.owner %>.
  </li>
  <% }) %>
</ul>

<%- include('../partials/footer.ejs') %>
